.info {
    display: flex;
    justify-content:space-between;
    color: #FF6060;
    margin: 1% 6% 1% 5%;
}

.columnLeft {
    width: 100%;
}

.columnRight {
    display: flex;
    margin-top: 10px;
    flex-direction: column;
}

.location {
    font-style: normal;
    font-weight: 500;
}

.namePicture {
    display: flex;
    flex-direction: row;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin: 10px;
}

.liTags {
    background: #FF6060;
    padding: 10px 5px 10px 5px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    width: 15%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12PX;
    margin: 0px 10px 0px 0px;
    font-size: 12px;
}

.tags {
    display: flex;
    flex-direction: row;
}

.profilPicture {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
}

.name {
    display: flex;
    margin-right: 20px ;
    font-style: normal;
    font-weight: 500;
    text-align: right;
}

.hoteHebergementNote {
    margin-top: 4%;
}

.ratingStars {
    padding: 5px;
    width: 25px;
}

@media screen and (min-width: 650px) and (max-width: 1024px) {
    .columnLeft {
        margin-left: 5%;
        width: 95%;
    }

    .columnRight {
        margin: 0% 4% 5% 5%;
    }

}

@media screen and (max-width: 1024px) {
    .info {
        display: flex;
        flex-direction: column;
        margin: 0;
        margin-top: 10px;
       
    }

    .nomHebergement {
        font-size: 20px;
        margin: 0px 0px 6px 0px;
        font-weight: 500;
    }

    .location {
        margin: 0;
        font-size: 15px;
    }
    
    .liTags {
        width: 21%;
    }

    .columnRight {
        flex-direction: row-reverse;
        margin-bottom: 25px;
        display: flex;
        justify-content: space-between;
    }


    .name {
        font-size: 21px;
        margin: 5px 17px 0px 0px;
    }

    .profilPicture {
        width: 60px;
        height: 60px;
    }

    .ratingStars {
        padding: 1px;
        width: 20px;
    }
}
