.hebergementCollapseItem {
    flex-basis: 50%;
    margin-left: 60px;
    margin-bottom: 30px;
    width: 80%;
    
}

.hebergementCollapse {
    display: flex;
    justify-content: center;
}

.arrowDown {
    width: 44px;
    margin-top: 32px;
}

.textSlide {
    margin: -30px 0% 5% 5%;
}

.hebergementTextSlide {
    background-color: #F6F6F6;
    width: 77%;
    margin: -40px 0% 5% 5%;
}


/* texte gauche */
.hebergementCollapseItem + .hebergementCollapseItem .textSlide {
    margin: 0px 0% 5% 2%;
    z-index: -1;
  }

  /* texte droit*/
.hebergementCollapseItem:first-child .textSlide {
  margin: 0px 0% 5% 2%;
  z-index: -1;
}

p {
  margin: 6px;
}

@media screen and (min-width: 650px) and (max-width: 1024px) {
  .hebergementCollapseItem {
    margin-left: 3%;
    margin-bottom: 0px;
  }

  .hebergementCollapseItem:first-child .textSlide {
    margin: 0px 0% 5% 10%; 
  }

  .hebergementCollapseItem + .hebergementCollapseItem .textSlide {
    margin: 0px 0% 5% 10%;
  }
}

@media screen and (max-width: 650px) {
   .hebergementCollapse {
    flex-direction: column;
    align-items: center;
   }

   .hebergementCollapseItem {
    width: 100%;
    margin-bottom: 5%;
    margin-left: 0;
    
   }

   .hebergementCollapseItem:first-child .textSlide {
    margin: 0px 0% 5% 2%;
    width: 94%;
    
  }

  .hebergementCollapseItem + .hebergementCollapseItem .textSlide {
    margin: 0px 0% 5% 2%;
    width: 94%;
    
  }
}

