header {
    display:flex;
    justify-content: space-between;
    margin: 1% 5% 0% 5%;
}

.imgHeader {
    width:200px;
}

nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

nav li {
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
}


nav li :hover {
  text-decoration: underline;
}

nav ul li a {
    text-decoration: none;
    font-size: 24px;
    color: #FF6060;
}

@media screen and (min-width: 650px) and (max-width: 1024px) {
    header{
        margin-top: 5%;
    } 
}

@media screen and (max-width: 650px) {
    .imgHeader {
        width: 125px;
        margin-top: 20px;
    }

    nav li {
        padding: 0px;
        margin: 8px;
    }

    nav ul li a {
        font-size: 17px;
    }

    nav ul {
        margin-top: 24px;
    }
    
}