footer {
    display: flex;
    background-color:black ;
    flex-direction: column;
    align-items: center;
    padding: 25px;
    left: 0;
    right: 0;
    position: absolute;
}

img {
    width: 122px;
    height: 40 px;
}

.Right {
    color: white;
}

@media screen and (max-width: 650px) {
    footer {
        padding: 15px;
        margin-top: 10%;
    }

    .Right {
        font-size: 8px;
    }
}