/* Banière originale */
.banner {
    height: 220px;
    width: 90%;
    border-radius: 10px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/banner.png');
    background-position: center;
    margin: 43px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

/* Banière page about */
.bannerAbout {
    height: 220px;
    width: 90%;
    border-radius: 25px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('../../assets/BannerAbout.png');
    background-position: center;
    margin: 43px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
}

.TitleBanner {
    color: white;
    font-size: 48px;
    
}

@media screen and (max-width: 650px) {
    .TitleBanner {
        font-size: 24px;
        margin-left: -50px;
        width: 220px;
    }

    .banner {
        height: 110px;
        margin: 10px auto;
    }
    
    .bannerAbout {
        width: 100%;
        margin: 25px 0 25px 0;
    }
}